[Unit]
Description=bases
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/usr/local/bases
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedowndBy=default.target
